* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
  h1 
  {
  font-size: 50px; 
  line-height: 64px; 
  color:black;
  }

   h2
   {
  font-size: 46px; 
  line-height: 54px; 
  color:black;
   }

  h4 
  {
  font-size: 20px;
  color:black;
}

h6
{ 
  font-weight: 700; 
  font-size: 12px;
}

P 
{ 
  font-size: 16px;
   color:black; 
   margin: 10px 0 10px 0;
  }

.section-p1 
{ 
 padding: 5px 20px;
}

.section-m1 
{ 
  margin-bottom: 10px ; 
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  margin-top: 25px;
  padding: 15px 30px;
  color: black;
  background-color: white;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  outline: none ;
  transition: 0.2s;
}
body {
  font-family: 'Spartan';font-size: 22px;
}
body 
{
width: 100%;
background-color:white;
}
/* Header start*/

#header {
  display: flex ;
  align-items: center;
  justify-content: space-between;
  padding: 1px 15px;
  background-color: rgb(19, 159, 252);
  box-shadow: 0 50px 15px rgba(0, 0, 0, 0.06) ;
  z-index: 999;
  position: sticky;
  top: 0;
  left: 0%;
}
#navbar {
display: flex;
align-items: center;
justify-content: center;
margin: 20px;

}
#navbar li {
  list-style: none;   
  padding: 0px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  font-weight: 700;

}
#navbar li a {
  list-style: none;
  text-decoration: none;
  font-size: 16px;
  font-size: 1000;
  color: black;
  transition: 0.3s ease;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbar li a:hover,
#navbar li a.active {
  color: rgb(253, 252, 251);
  cursor: pointer;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#navbar li a.active::after,
#navbar li a:hover::after{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  content: "";
  width: 40px;
  height: 2px;
  background: rgb(8, 8, 8);
  position: absolute;
  bottom: -4px;
  left: 20px;

  }
#mobile{
  display: none;
  align-items: center;
}


/* Home page*/
#hero{
  background-image: url("images/M2.png");
  background-size: cover  ;
  background-position: center;
  background-repeat: no-repeat;
  height: 86vh;
  flex-direction: column;
  justify-content:center;
  align-items: center ;
  text-align: center;
  display: flex;
}

#hero button{
  background-color: rgb(19, 159, 252);
  position: flex-start;
}
#hero button:hover{
  color: lightgrey;
  background-color: rgb(1, 71, 73);
}
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
}
#feature .fe-box {

  width: 180px; 
  height: 220px;
  background-color:white ;
  text-align: center; 
  padding: 20px 10px; 
  box-shadow: 20px 20px 34px rgba(0,0, 0, 0.03);
  border-radius: 2px; 
  margin: 10px 50px;
  
  }
  
  #feature .fe-box:hover {
  box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
  }
  #feature .fe-box img{
    width:60% ;
    margin-bottom: 10px;
  }
#feature .fe-box h6{
  padding: 4px 2px 2px 4px;
  display: inline-block;
  line-height: 1;
  border-radius: 4px;
  color: black;
  background-color: rgb(19, 159, 252);
}
#product1{
  text-align: center;

}
#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px ;
  flex-wrap: wrap;

} 
#product1 .pro{
  width:20%;
  min-width: 230px;
  padding: 10px 12px;
  border: 3px solid  rgb(116, 115, 115);
  background-color: rgb(116, 115, 115);
  border-radius: 3px;
  color: black;
  box-shadow: 20px 20px 30px rgba(2, 2, 2, 0.02);
  margin-top: 15px 0;
  transition: 0.2s ease;
  position: relative;
  margin: 20px 20px;
  

}

#product1 .pro img{
  width: 100%;
  border-radius: 3px;
 background-color: white;
 cursor: pointer;

 
}
#product1 .pro:hover{
  transform: scale(1.1);
  transition: .25s ;
}
/*Footer start*/

h1{
  color:White;
  font-size: 60px  ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 790;
  padding-bottom: 20px;

}
h2{
  color: rgb(19, 18, 18);
  font-size: 100 ;
  font-family: fantasy;

}
h3{
  color: rgb(19, 159, 252);
  font-size: 60px  ;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
h4{
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  font-family: 'monospace';  
   
}
h4 a{
  color: black;
  text-decoration: none;
}
h5{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
h6{
  display: flex;
}
p{
  color:white;

}
p1{
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
font-size: 25px;
font-style:unset;
color: rgb(19, 159, 252);

}
footer{
background-color: black;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}
footer .col{
display: flex;
flex-direction:column;
align-items: flex-start ;
font-size: 25px;

}
footer .col2{
align-items: center;
}
footer p{
font-size: 15px;
margin: 0 0 8px 0;
}

footer a{
color: rgb(235, 230, 230);
font-size: 15px;
text-decoration: none;
cursor: pointer;
}
footer a:hover{
color: gray;
text-decoration: none;
}
footer .follow{
 margin-top: 1px;
}
footer .follow i{
 color: white;
 padding-right: 4px;
 cursor: pointer;
}
footer .follow i:hover{
 color: gray;
}